<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

</head>

<body class="bg-secondary ">
    <div class="card">
        <div class="card-body">
            <h2 class="text-center">¿Seguro que desea eliminar el Curso?
            </h2>
        </div>
    </div>
    <div class="jumbotron p-3">
        
        <form method="POST"> {% csrf_token %}
            <div class="form-group">
                
                <table class="table">
                    <thead class="table-dark">
                        <tr>
                            <th>Codigo</th>
                            <th>Nombre</th>
                            <th>Creditos</th>
                            <th>Docente</th>
                        </tr>
                    </thead>
                    <tbody class="table-secondary">
                        <tr>
                            <td>{{curso.codigo}}</td>
                            <td>{{curso.nombre}}</td>
                            <td>{{curso.creditos}}</td>
                            <td>{{curso.docente}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <button type="submit" class="btn btn-danger">Eliminar</button>
            <a href="{% url 'matriculas' %}" type="button" class="btn btn-dark">Cancelar</a>
        </form>
    </div>
</body>

</html>