<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

</head>

<body class="bg-secondary ">
    {% extends 'master.html' %}
    {% block contenido %}
    <div class="card" style="margin-bottom: 20px; margin-top: 20px;">
        <div class="card-body">
            <h1 class="text-center">Estudiantes de la Carrera</h1>
        </div>
    </div>

    <table class="table">
        <thead class="table-dark">
            <tr>
                <th>Codigo</th>
                <th>Nombre</th>
                <th>Duracion</th>
            </tr>
        </thead>
        <tbody class="table-secondary">
            <tr>
                <th>{{carrera.codigo}}</th>
                <td>{{carrera.nombre}}</td>
                <td>{{carrera.duracion}}</td>
            </tr>
        </tbody>
    </table>

    <table class="table table-hover">
        <thead class="table-dark">
            <tr>
                <th>Cedula</th>
                <th>Apellidos</th>
                <th>Nombres</th>
                <th>Fecha Nacimiento</th>
                <th>Genero</th>
                <th>Carrera</th>
                <th>Vigencia</th>
                <th>Modificar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody class="table-secondary">
            {% for estudiante in estudiantes %}
            <tr>
                <td><strong>{{estudiante.dni}}</strong></td>
                <td>{{estudiante.apellidos}}</td>
                <td>{{estudiante.nombres}}</td>
                <td>{{estudiante.fechaNacimiento}}</td>
                <td>{{estudiante.genero}}</td>
                <td>{{estudiante.carrera.nombre}}</td>
                <td>{{estudiante.vigencia}}</td>
                <td><a href="{% url 'modificarEstudiantes' estudiante.dni%}" type="button" class="btn btn-warning">Modificar</a></td>
                <td><a href="{% url 'eliminarEstudiantes' estudiante.dni%}" type="button" class="btn btn-danger">Eliminar</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'crearEstudiantes' carrera.codigo%}" type="button" class="btn btn-primary" style="margin-bottom: 25px; margin-left: 25px;">Nuevo Estudiante</a>
    {% endblock %}
</body>

</html>