<html>

<head>
    <meta>
    <title>Cooperativa 2021</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <div class="card-footer">
        <footer>
            <div class="row">
                <div class="col-sm-4 d-flex flex-column" id="redes">
                    <a href="http://www.facebook.com">Facebook</a>
                    <a href="http://www.youtube.com">Youtube</a>
                    <a href="http://www.instagram.com">Instagram</a>
                    <a href="https://github.com.ec">Github</a>
                </div>

                <div class="col-sm-4 d-flex flex-column align-items-center">
                    <address>
                        <h3>Informacion</h3>
                        <p> Loja, Universidad Nacional de Loja, Ecuador</p>
                        <p> +593993194949</p>
                        <p> kevin.cumbicus29@gmail.com</p>
                    </address>
                </div>

                <div class="col-sm-4 d-flex flex-column align-items-end">
                    <address>
                        <h4>Acerca</h4>
                        <p> Transparencia</p>
                        <p> Defensor del cliente</p>
                        <p> Educación financiera</p>
                    </address>
                </div>
            </div>
            <h5 class="text-center">  Cooperativa de Ahorro y Crédito 2021 © Todos los derechos reservados    </h5>
        </footer>
    </div>
</body>

</html>