<html>

<head>
    <meta>
    <title>Cooperativa 2021</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body class="bg-secondary ">
    {% extends 'master.html' %}

    {% block contenido %}

    <div class="jumbotron ">
        <h1 class="display-4 text-center">PRACTICA DJANGO - COOPERATIVA</h1>
        <p class="lead">La cooperativa de ahora y crédito permite el ahorro familiar.</p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="http://127.0.0.1:8000/clientes/" role="button">Ir a consultas</a>
    </div>

    {% endblock %}


</body>

</html>