Cuentas del Cliente <br>
Apellidos: {{cliente.apellidos}} <br>
Nombres: {{cliente.nombres}} <br>
Cedula: {{cliente.cedula}} <br>

<a href="{% url 'crearCuentas' %}">Nueva Cuenta</a>

<table>
    <thead>
        <tr>
            <th>Numero</th>
            <th>Saldo</th>
            <th>Estado</th>
            <th>Tipo</th>
        </tr>
    </thead>
    <tbody>
        {% for cuenta in cuentas %}
        <tr>
            <td>{{cuenta.numero}}</td>
            <td>{{cuenta.saldo}}</td>
            <td>{{cuenta.estado}}</td>
            <td>{{cuenta.tipoCuenta}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>