<html>

<head>
  <meta>
  <title>Cooperativa 2021</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <div class="row align-items-center ">
      <div class="col-md-3"><img src="https://photo.isu.pub/universidadnacionaldeloja/photo_large.jpg" class="img-thumbnail"
          alt="Cinque Terre" width="150" height="80">
      </div>
      <div class="col">
        <h2>
          <p class="text-center">
            Universidad Nacional de Loja <br>
            Carrera de Ingeniería en Computación<br>
            Materia: Programación Avanzada - Programación Web <br>
          </p>
        </h2>
      </div>
    </div>
  </div>
</body>

</html>